body {
   --nav-height: 3.3em;
   line-height: 1.6;
   margin: 0;
   overflow: hidden;
}

nav,
main,
input {
   font-family: "IBM Plex Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 350;
   font-style: normal;
   color: #c0c0c0;
}

nav {
   font-size: 1.0em;
   background-color: #222;
   padding: 0.7em 1.0em;
   height: var(--nav-height);
   user-select: none;

   form {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      column-gap: 1em;

      div.inputContainer {
         display: inline-flex;
         align-items: baseline;
         white-space: nowrap;

         &.apiId {
            margin-left: auto;
         }

         label {
            padding-left: 0.2em;
            cursor: pointer;
         }

         input[type=text] {
            font-size: 1.0em;
            background-color: black;
            border: 1px solid #333;
            padding: 0.25em;
            color: #666;
            outline: none;
            margin-left: 0.5em;

            &[name=tag] {
               width: 3.5em;
            }

            &[name=apiId] {
               width: 20em;
               &.invalid {
                  color: #955;
               }
            }

            &:focus {
               outline: none;
               border: 1px solid #666;
               color: #c0c0c0;
            }
         }

         input[type=radio] {
            margin: 0;
            margin-left: 0.8em;
            appearance: none;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            border: 1px solid #888;
            transition: 75ms border linear;
            position: relative;
            top: 1px;
            cursor: pointer;

            &:checked {
               border: 4px solid #a92;
            }
         }
      }
   }
}

main {
   position: fixed;
   top: var(--nav-height);
   bottom: 0;
   left: 0;
   right: 0;
   padding: 1rem;
   overflow-y: auto;
   overflow-x: hidden;
   background-color: #111;
   display: flex;
   flex-direction: column;
   align-items: center;

   &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #111;
   }
   &::-webkit-scrollbar-thumb {
      background-color: #222;
   }
   &::-webkit-scrollbar-thumb:hover {
      background-color: #444;
   }
   &::-webkit-scrollbar-corner {
      background-color: #111;
   }
   @supports (not selector(::-webkit-scrollbar)) {
      /* eslint-disable-next-line css/no-invalid-at-rules */
      scrollbar-color: #222 #111;
   }

   p.initializing {
      margin-top: 2em;
      font-size: 1.4em;
      color: #888;
   }

   p.error {
      margin-top: 2em;
      font-size: 1.2em;
      color: #a76;
   }

   h1 {
      font-size: 1.4em;
      font-weight: 350;
      margin-top: 1.0em;
   }

   table {
      margin-top: 1.5em;
      border-collapse: collapse;

      thead tr th,
      tbody tr td {
         white-space: nowrap;
         text-align: end;

         &:not(:first-of-type) {
            padding-left: 1.1rem;
         }

         /* Order number, player, role */
         &:nth-child(1),
         &:nth-child(2),
         &:nth-child(3) {
            text-align: start;
         }

         /* Favorites */
         &:nth-child(8) {
            padding-left: 0.8em;
         }
      }

      thead tr th {
         color: #a97;
         font-weight: 525;
         letter-spacing: 0.06em;
         font-size: 0.85em;
         padding-bottom: 0.4rem;
      }

      tbody tr {
         &:not(.averages):hover {
            background-color: #1a1a1a;
         }

         &.averages {
            color: #a97;
            td {
               padding-top: 0.4rem;
            }
         }

         td {
            small {
               margin-left: 0.2em;
               font-size: 0.95em;
            }

            /* Order number */
            &:nth-child(1) {
               opacity: 0.4;
               font-size: 0.9em;
            }

            /* Player */
            &:nth-child(2) {
               span.player {
                  cursor: pointer;
                  &:hover {
                     text-decoration: underline;
                  }
               }
            }

            /* Role */
            &:nth-child(3) {
               font-size: 0.9em;
               &.role1, &.role2 {
                  font-weight: 525;
               }
               &.role2, &.role3, &.role4, &.role5 {
                  opacity: 0.7;
               }
               &.role6 {
                  opacity: 0.4;
               }
            }

            /* Favorites */
            &:nth-child(8) {
               width: 7.2em;
               span.type {
                  &:not(:first-child) {
                     margin-left: 0.2em;
                  }
                  &.CV,
                  &.SS {
                     color: #78b;
                  }
               }
            }

            /* Created */
            &:nth-child(11) {
               width: 6.2em;
            }
         }
      }
   }
}